/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */

body{
  background: rgb(243, 255, 255);
  font-family: sans-serif, Arial, Helvetica;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.layout{
  width: 100%;
}
.container{
  margin: 0px auto;
  width: 70%;
  background-color: #8f8f8f8e;;
}
.header{
  height: 75px;
  background-color: rgb(61, 133, 198);
  padding-top: 25px;
  border-bottom: 2px solid #444; 
}
.header a{
  text-decoration: none;
}
.logo{
  background-color: rgb(243, 255, 255);
  border-radius: 20px;
  width: 12%;
  margin-left: 5%;
  padding: 8px;
  cursor: pointer;
  /* background-color: rgb(243, 255, 255);
  width: 100%;
  padding: 7px;
  cursor: pointer;
  height: 35px; */
}
.logo h2{
  margin: 0px;
  color: rgb(44, 44, 44);
}
.logo strong{
  color: rgb(121, 129, 201);
}
#footer {
  height: 10%;
  background-color: #1c1d1f;
  color: #fff;
  width:100%;
  border-top: 2px solid #444;
  bottom: 0;
  position: fixed;
}
#footer p{
  font-size: 18px;
  margin:0px;
  padding: 28px;
}
#footer a{
  color:white;
}
#content{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
}
.buscador{
  display: block;
  height: 80px;
  width: 100%;
}
.buscador input{
  height: 30px;
  width: 40%;
  border-radius: 25px;
  margin-top: 17px;
  padding: 5px;
  padding-left: 30px;
  background-color: #b6b8bb34;
  border: 1px solid black;
}
.titulo{
  display: block;
  width: 70%;
  height: 75px;
  border-bottom: 1px solid black;
  color: #444;
  margin:0px auto;
}
.titulo h3{
  margin-bottom: 5px;
}
.titulo a{
  color: #444;
}
.no-buscador{
  height: 155px;
}
.no-buscador h3, .nobuscador a {
  margin-top: 95px;
}
.listado{
  display: flex;
  padding: 15px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.listado-item{
  flex-grow: 1;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
  margin: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 15%;
}
.listado-item h3,
.listado-item p{
  text-align: left;
}
.listado-item p{
  color: #717171;
}
.listado-item img{
  width: 60%;
}

/*Formulario Crear*/
form{
  margin-top: 30px; 
  width: 100%;
}
form input[type="text"],
form input[type="number"],
form select,
form textarea{
  display: block;
  margin: 0px auto;
  margin-top: 2px;
  margin-bottom: 10px;
  padding: 10px;
  width: 250px;
  max-width: 250px;
}
form textarea{
  padding-bottom: 35px;
}

form input[type="submit"],
form button{
  justify-content: center;
  width: 270px;
  height: 55px;
  border-radius: 5px;
  background-color: rgb(61, 133, 198);
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: width 0.1s;
}

form input[type="submit"]:hover,
form button:hover{
  background-color:rgb(33, 82, 126);
  width: 285px;
  font-size: 18px;
}
.mensaje-exito{
  font-weight: bold;
  color: rgb(0, 86, 0);
  width: 100%;
}
nav.nav-paginator {
  width: 100%;
  height: 75px;
  z-index: 1;
  bottom: 10%;
  position: fixed !important;
}
.nav-paginator.paginacion{
  text-decoration: none;
}
.nav-paginator .paginacion li{
  display:block;
  color:rgb(61, 133, 198);
  transition: width 1s;
}
.nav-paginator .paginacion li:hover{
  color:rgb(61, 133, 198);
  cursor: pointer;
  width: 2%;
  font-size: 27px;
  border: 2px solid rgb(61, 133, 198);
}
ul.paginacion {
    display: flex;
    justify-content: center;
}
li.pagina {
  font-size: 25px;
  width: 2%;
  border: 1px solid rgb(61, 133, 198);
  border-radius:5px;
}
.nav-paginator .paginacion span{
  text-decoration: none;
  color:rgb(61, 133, 198);
}